@page "/student"
<PageTitle>New Student</PageTitle>

<h1>Student catalog</h1>
<h3>New Student</h3>

<div class="row">
    <div class="col-4">
        <EditForm>

        </EditForm>
    </div>
</div>

@code {
    private Practice.Models.Students student = new()
    {
        Name = string.Empty,
        Age =  string.Empty,
        DOB = DateTime.UtcNow   ,
        Classes =string.Empty
    };

}
